/java/prototype.java.osgi.project2/target/
/java/prototype.java.osgi.project1/target/
/java/prototype.java.osgi.jsf.project1/project/user/api/v1/project1.user.api/target/
/java/prototype.java.osgi.jsf.project1/project/user/view/v1/project1.user.view/target/
/javascript/prototypes.javascript.jqgrid.project1/nbproject/private/
/javascript/prototype.javascript.jqgrid.project1/nbproject/private/