/java/prototype.java.osgi.project1/target/
/java/prototype.java.osgi.project2/target/
/javascript/prototypes.javascript.jqgrid.project1/nbproject/private/
/javascript/prototype.javascript.jqgrid.project1/nbproject/private/
