.ui-widget-content {
    border: none;
}

@media (max-width: 640px) {
    .ui-panelgrid .ui-grid-responsive .ui-grid-row {
        border-top: none !important;
    }
}

.ui-panelgrid .ui-panelgrid-cell {
    border: none !important;
}