html {
    position: relative;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

html, body {
    margin: 0;
    min-height: 100%;
}

.body-toggled {
    overflow: hidden;
}

/***header***/

header {
    background-color: #0081c2;
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 8;
    line-height: 25px;
}

.title-header {
    float: left;
    margin-left: 20px;
    line-height: 57px;
}

.title-header a {
    text-decoration: none;
    font-weight: 500;;
    color: #f5f5f5;
    font-size: 2em;
}

.btn-toggle-right {
    float: right;
    padding: 6px 9px 1px 9px;
    border-radius: 4px;
    margin: 12px 14px 0px 14px;
    cursor: pointer;
    color: #f5f5f5;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    display: none;
}

.btn-toggle-right:hover {
    background-color: #f5f5f5;
    color: #004d40;
}

/***menu***/

nav {
    overflow: auto;
}

.sidebar {
    float: left;
    position: fixed;
    width: 240px;
    height: 100%;
    transition: margin-left 0.8s;
    z-index: 10;
    top: 0px;
    background: #f5f5f5;
    margin-left: -250px;
}

.sidebar.sidebar-toggled {
    margin-left: 0px;
}

.menu-title {
    margin-left: 20px;
    line-height: 57px;
}

.menu-title a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
    font-size: 2em;
}

.expand-sidebar {
    width: 50px;
    background: #eeeeee;
    height: 100px;
    z-index: 9;
    position: absolute;
    border-radius: 8px;
    margin-left: -30px;
    top: 70px;
}

/***aside***/

aside {
    height: 100%;
    background: #f5f5f5;
    position: absolute;
    width: 50px;
    top: 0;
    display: block;
}

.btn-toggle-left {
    display: block;
    background: #eeeeee;
    height: 51px;
    cursor: pointer;
    text-align: center;
    margin-top: 60px;
}

.btn-toggle-left:hover {
    background: #e0e0e0;
}

.btn-toggle-left > i {
    color: #555555;
    line-height: 50px;

}

/***content***/

section {
    margin: 60px 10px;
    padding: 0 0 0 50px;
}

.title-content {
    margin: 60px 0px 20px 0px;
    height: 50px;
    border-bottom: 1px solid #333333;
    line-height: 50px;
}

.title-content h2 {
    color: #333333;
    font-weight: 500;
}

.content {
    margin: 0 auto;
}

.button-panel {
    margin: 30px 0px;
}

/*command link*/
.command-link-buttom {
    margin: 0 10px 0 0;
    border: 10px solid #f5f5f5;
    background: #f5f5f5;
    text-decoration: none;
}

.command-link-buttom:hover {
    background: #e0e0e0;
    border: 10px solid #e0e0e0;
}

/*datatable*/
.row-action-datatable {
    width: 52px;
    text-align: center;
}

.row-action-datatable a {
    opacity: 0.5;
    text-decoration: none;
    margin: 0 4px;
}

.row-action-datatable a:hover {
    opacity: 1;
}

/*toolbar*/
.toolbar {
    margin-bottom: 10px;
}

/***footer***/

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #e0e0e0;
    z-index: 8;
    text-align: center;
    line-height: 5px;
    color: #333333;
    font-weight: 500;
}

/***overlay***/

.overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #000000;
    opacity: 0.5;
}

.overlay.overlay-toggled {
    display: block;
}

@media (max-width: 768px) {

    /***header***/

    .btn-toggle-right {
        display: block;
    }

    .btn-toggle-left {
        display: none;
    }

    /***aside***/

    aside {
        display: none;
    }

    /***content***/

    section {
        padding: 0;
    }

    .content {
        padding: 0;
    }
}